* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 300;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6vw 0.6vw;
    transition: 0.6s;
    padding: 10px 50px;
    z-index: 1000000;
    font-weight: 400;
}

.sticky {
    padding: 1px 20px;
    color: antiquewhite;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

}

.nav_bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar .current {
    color: rgb(168, 204, 235);
    font-weight: 400;
}

.nav_bar li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0px 1.19vw;
}

.nav_bar li a {
    transition: all 0.5s ease 0s;

    font-size: 17px;
    color: #333;
}

.nav_bar li a:hover {
    color: rgb(91, 181, 255);
}

header .logo {
    position: relative;
    cursor: pointer;
    width: 50px;
    padding-top: 10px;
}





h1 {
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 2.5;
}

h2 {
    font-size: 2vw;
    line-height: 2;
    font-weight: 300;
}

h1::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: rgb(60, 106, 85);
    margin-top: 11px;
    margin-right: 10px;
}


p>em {
    color: #00529B;
    font-weight: bolder;
    font-weight: 400;
}

.margin20 {
    margin-left: 20%;
    margin-right: 20%;
}

.margin15 {
    margin-left: 15%;
    margin-right: 15%;
}

.padding20 {
    padding-left: 20%;
    padding-right: 20%;
}

.padding15 {
    padding-left: 15%;
    padding-right: 15%;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

.paddingb5 {
    padding-bottom: 5%;
}

.paddingtop5 {
    padding-top: 5%;
}

.paddingtop10 {
    padding-top: 10%;
}


.margintop5 {
    margin-top: 5%;
}

.paddingb10 {
    padding-bottom: 10%;
}



.margin20,
.padding20,
.padding15 p {
    line-height: 1.8;
    font-size: 1.1vw;

    font-weight: 300;
}

.backtop {
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: black;
    transition: all 0.5s ease 0s;
}

.backtop:hover {
    color: rgb(48, 118, 176);
}

.project_member {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    font-size: 15px;
    padding: 30px;
    border-radius: 5px;

    margin-bottom: 10%;
    text-align: center;
}














.hero .title {
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 20px;
}

.hero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: #70ade369;
}

.hero img {
    width: 50%;
    padding-left: 50px;
}

.problem {
    background-color: rgb(244, 216, 202);
    display: flex;
    justify-content: space-between;
}

.problem img {
    width: 60%;
    height: auto;
    padding-left: 20px;
    display: block;
}





.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 50%;
   
    object-fit: cover;
}



.solution
{
    background-color: #ffbb628a;
    display: flex;
}

.solution img
{
    width: 50%;
}


footer {
    float: left;
    margin-top: 11.9vw;
    margin-right: 11.9vw;
    margin-left: 11.9vw;

    margin-bottom: 90px;
}

footer a {
    transition: all 0.5s ease 0s;
    color: black;
    font-weight: 800;
    font-size: 40px;
}

footer a:hover {
    color: gray;
}

footer i {
    font-size: 25px;
    transition: all 0.5s ease 0s;
    color: black;
}

footer i:hover {
    color: gray;
}

footer p {
    color: grey;
    font-weight: 300;
}

.footnotes {
    font-size: 10px;
}