* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-weight: 300;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6vw 0.6vw;
    transition: 0.6s;
    padding: 10px 50px;
    z-index: 1000000;
    font-weight: 400;
}

.sticky {
    padding: 1px 20px;
    color: antiquewhite;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

}

.nav_bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar .current {
    color: rgb(168, 204, 235);
    font-weight: 400;
}

.nav_bar li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0px 1.19vw;
}

.nav_bar li a {
    transition: all 0.5s ease 0s;

    font-size: 17px;
    color: #333;
}

.nav_bar li a:hover {
    color: rgb(91, 181, 255);
}

header .logo {
    position: relative;
    cursor: pointer;
    width: 50px;
    padding-top: 10px;
}
































footer {
    float: left;
    margin-top: 11.9vw;
    margin-right: 11.9vw;
    margin-left: 11.9vw;

    margin-bottom: 90px;
}

footer a {
    transition: all 0.5s ease 0s;
    color: black;
    font-weight: 800;
    font-size: 40px;
}

footer a:hover {
    color: gray;
}

footer i {
    font-size: 25px;
    transition: all 0.5s ease 0s;
    color: black;
}

footer i:hover {
    color: gray;
}

footer p {
    color: grey;
    font-weight: 300;
}

.footnotes {
    font-size: 10px;
}